* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

#background {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#background #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #f3f3f3;
    text-align: center;
    font-family: 'Montserrat';
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.082), -3px -3px 5px rgba(255, 255, 255, 0.5);
}

#background h1 #big {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.082), -3px -3px 5px rgba(255, 255, 255, 0.664);
    font-size: 70px;
}

.icon {
    padding: 20px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 54px;
    background: linear-gradient(145deg, #e9e9e9, #eeeeee);
    box-shadow: 5px 5px 11px #dddddd, -5px -5px 11px #fbfbfb;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.icon:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #c8f4ff, #a8cde0);
    box-shadow: 3px 3px 10px #9fc2d4,
        -3px -3px 10px #d7ffff;
    cursor: pointer;
}

.icon h1 {
    font-size: 25px !important;
    letter-spacing: 10px;
    font-weight: 400;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.082), -2px -2px 5px rgba(255, 255, 255, 0.5) !important;
}

#sideicons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
    width: 50px;
    height: 200px;
    border-radius: 100px;
    background-color: #f3f3f3;
    border-radius: 54px;
    background: linear-gradient(145deg, #e9e9e9, #eeeeee);
    box-shadow: 5px 5px 11px #dddddd, -5px -5px 11px #fbfbfb;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-radius: 54px;
    background: linear-gradient(145deg, #eeeeee, #e9e9e9);
    box-shadow: 5px 5px 11px #dddddd, -5px -5px 11px #fbfbfb;
    background-color: #f3f3f3;
}

.icons i {
    color: #b9b9b9;
}

.icons:hover i {
    color: #5da8bb;
    cursor: pointer;
}

#fb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    width: 100%;
    min-height: 100vh;
    background: #3b5998;
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80vh;
    border-radius: 15px;
    background: #3b5998;
    box-shadow: 13px 13px 24px #344e86,
        -13px -13px 24px #4264aa;
}

#right {
    width: 40%;
    min-height: 70vh;
    /* border: 1px solid #5d83bb; */
    font-family: 'Montserrat' !important;
    color: #Fff;
}

#right h1 {
    text-transform: uppercase;
    font-weight: 400 !important;
    color: #344e86;
    font-size: 50px;
    text-shadow: 3px 3px 4px #3b548a, -3px -3px 10px #506dac !important;
}

#right h3 {
    color: #344c81;
    text-shadow: 3px 3px 4px #47629c, -3px -3px 10px #506dac !important;
}

#right #line {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    border-radius: 15px;
    background: #355089;
    box-shadow: 13px 13px 24px #3c5386,
        -13px -13px 24px #4264aa;
}

#right p {
    font-size: 18px;
    line-height: 35px;
    margin-top: 20px;
    font-weight: 500;
    color: #243761;
    text-shadow: 3px 3px 4px #3b548a, -1px -1px 4px #506dac !important;
}

#right #fbbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 200px;
    height: 42px;
    margin-top: 20px;
    border-radius: 100px;
    color: #768dbe;
    background: linear-gradient(145deg, #355089, #3f5fa3);
    box-shadow: 13px 13px 24px #344e86,
        -13px -13px 24px #4264aa;
    text-shadow: 3px 3px 4px #3b548a, -3px -3px 10px #506dac !important;
}

#right #fbbtn:hover{
    background: linear-gradient(145deg, #3b5998, #798eb9);
    box-shadow: 3px 3px 10px #5d79b4,
        -3px -3px 10px #6dadca;
        /* text-shadow: none !important; */
    cursor: pointer;
}

#phone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 53%;
    height: 88%;
    background-color: #aee1ff;
    border-radius: 15px;
    background: linear-gradient(145deg, #355089, #3f5fa3);
    box-shadow: 13px 13px 24px #344e86,
        -13px -13px 24px #4264aa;
}

#phone #loveicon {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    right: -10px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, #355089, #3f5fa3);
    box-shadow: 13px 13px 24px #344e86,
        -13px -13px 24px #4264aa;
}

#phone #loveicon i {
    color: #82a1df;
}

#phone #pic {
    width: 85%;
    height: 75%;
    border-radius: 10px;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1428931996691-a5108d4cdbf5?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}

#reactions {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#reactions .react {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(145deg, #355089, #3f5fa3);
    box-shadow: 10px 10px 12px #344e86,
        -10px -10px 12px #4264aa;
}

.react i {
    color: #5d83bb;
}

.react:nth-child(1) i {
    color: #3de29d;
}



#phone h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    color: #344e86;
    font-size: 14px;
    text-shadow: 3px 3px 4px #3b548a, -3px -3px 10px #506dac !important;
}




@media(max-width: 500px) {
    #background h1 {
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.288), -3px -3px 5px rgba(255, 255, 255, 0.712) !important;
    }

    #text h1 {
        font-size: 20px;
    }

    #text h1 #big {
        font-size: 36px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.164), -3px -3px 5px rgba(255, 255, 255, 0.808) !important;
    }

    #sideicons {
        left: 50%;
        top: 68%;
        transform: translate(-50%, -50%) rotate(90deg) scale(.7);
    }

    #sideicons .icons {
        transform: rotate(-90deg);
    }

    #text .icon {
        padding: 15px 9px;
        margin-top: 15px;
    }

    .icon h1 {
        font-size: 18px !important;
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.651), -3px -3px 5px rgba(255, 255, 255, 0.5) !important;
    }
    #fb{
        flex-direction: column;
        padding: 50px 10px;
    }
    #left{
        width: 90%;
    }
    #phone{
        width: 70%;
        height: 65vh;
    }
    #phone #pic{
        height: 70%;
    }
    #reactions .react{
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    #right{
        width: 100%;
        margin-top: 100px;
        padding: 0 10px;
    }
    #right h1{
        font-size: 45px;
    }
    #right p{
        font-size: 15px;
    }

    #right #line{
        height: 7px;
    }

    #right #fbbtn{
        font-size: 13px;
        width: 170px;
        letter-spacing: 3px;
    }
}